<div>
  <label class="file-input-label" for="file-input">
    <span class="file-input-text">Загрузить фото</span>
    <input
      type="file"
      id="file-input"
      class="file-input"
      (change)="onFileChange($event)"
    />
    <app-svg-icon icon="upload-photo" className="svg-mini"></app-svg-icon>
  </label>

  <div class="selected-image-block">
    @if (imageUrl) {
      <img class="selected-image-item" [src]="imageUrl" alt="Image" />
    }
  </div>
</div>

<app-notification #notification></app-notification>
